<div class="container">
    <div class="col-xs-6 col-md-6 col-xs-offset-3 text-center">
        <h1>Dernière épreuve validante</h1>
            <p>pour voir le taff </p>
            
                <%= link_to emails_path,  class: "btn btn-success" do %>
                    cliquez ici <i class="fa fa-envelope-o" aria-hidden="true"></i> 
    			<% end %>
    		
    </div>